<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="keywords" content="Intel SGX, Cryptography,
  Security, Network Security, Provable Security,
  Reductionist Security, Somewhat Homomorphic Encryption,
  SHE, Fully Homomorphic Encryption, FHE" />
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">

  <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	TeX: {
    equationNumbers: { autoNumber: "AMS" },
	Macros: {
	ZZ      :  "{\\mathbb \{Z\}}",
	RR      :  "{\\mathbb \{R\}}",
	CC      :  "{\\mathbb \{C\}}",
	QQ      :  "{\\mathbb \{Q\}}",
    Fq      :  "{\\mathbb \{F\}_q}",
    FqBar   :  "{\\mathbb \{\\bar{F}\}_q}",
	P       :  "{\\mathsf \{P\} }",
    NP      :  "{\\mathsf \{NP\} }",
	coNP    :  "{\\mathsf \{coNP\} }",
	BPP     :  "{\\mathsf \{BPP\} }",
	RP      :  "{\\mathsf \{RP\} }",
	AM      :  "{\\mathsf \{AM\} }",
	PSPACE  :  "{\\mathsf \{PSPACE\} }",
	NL      :  "{\\mathsf \{NL\} }",
    IP      :  "{\\mathsf \{IP\} }",
    PRIMES  :  "{\\mathsf \{PRIMES\} }",
	vec     :  ["\\mathbf \{#1\}", 1]
	}
	},
    tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
    }
	});
  </script>
  <!--		  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" !-->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
          >
  </script>
</head>
